
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="../css/styleDB.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <p>Easy <strong>Retro</strong></p>
        </div>
        <div class="menu">
            <ul class="menu-select">
                <li>
                    <a href="./dashboard.html">DASHBOARD</a>
                </li>
                <li>
                    <a href="./team.html">TEAMS</a>
                </li>
                <li>
                    <a href="">ANALYTICS</a>
                </li>
                <li>
                    <a href="">INTERGRATIONS</a>
                </li>
                <li>
                    <a href="">BILLING</a>
                </li>
            </ul>
        </div>
        <div class="dashboard">
            <h1>My boards</h1>
            <h2>
                <span>
                    Public boards
                    <small>collabrate by sharing URL with people</small>
                </span>
            </h2>
            <button class = "addBoard" onClick={this.add()}>
                <i class="fa fa-plus"></i>
                <small>Add board</small>
                <link to="../board/board.html"></link>
            </button>        
        </div>
    </div>
</body>
</html>